.name {
  color: #4a2a96;
  font-size: 37px;
  font-weight: 700;
}

.text-muted {
  font-weight: 600;
}

.txthead {
  font-weight: 700;
}

.button {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.stars {
  position: absolute;
  left: 40%;
}

@media (max-width: 1000px) {
  .name {
    font-size: 30px;
  }
  .job {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .stars {
    left: 70%;
  }
}

@media (max-width: 500px) {
  .name {
    font-size: 20px;
  }
  .job {
    font-size: 11px;
    margin-bottom: 20px;
  }
  .stars {
    left: 70%;
  }
}

.cv {
  margin-top: 100px;
  animation: move01 0.6s linear;
}

.card-title {
  font-weight: 600;
  color: #4a2a96;
}

@media (max-width: 600px) {
  .card-title {
    font-size: 28px;
    text-align: center;
  }
}

@keyframes floating {
    from {
      transform: translate(200px, 0);
      opacity: 0;
    }
  
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  .animation {
    animation: floating 1s linear 0s;
  }